/* ---- GLOBAL ---- */

body, html {
  margin: 0;
  padding: 0;
  background: #062f41;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: var(--text-color-light);
}

:root {
  --primary-color: #1BE29A;
  --primary-color-hover: #17c586;
  --secondary-color: #232323;
  --secondary-color-hover: #4a4a4a;

  --main-color: #0D465F;
  --main-color-50: rgba(13, 70, 95, 0.5);
  --main-color-30: rgba(13, 70, 95, 0.3);

  --text-color-light: #ffffff;
  --text-color-dark: #0D465F;
  --text-color-lighter: #487386;

  --border-color: #E3E9ED;
  --background-color-light: #f3f3f3;
  --background-color-dark: var(--main-color);

  --button-background-color: var(--main-color);
  --button-background-color-hover: var(--primary-color);
  --button-background-color-grey: #DAE4E8;
  --button-border-radius: 8px;
  --input-border-radius: 15px;

  --icon-button-color: #F8FAFB;
  --icon-button-color-hover: #f0f0f0;

  --cancel-delete-button-color: #E5342B;

  --button-background-color-disabled: #F5F7F9;
  --disabled-color: #b7c8cf;

  --scrollbar-color: #234559;
  --scrollbar-color-hover: #2d4d5c;
}


.hcl-btn {
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease,
    box-shadow 0.2s ease;
}

.hcl-icon-btn {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--icon-button-color);
  color: var(--text-color-dark);
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease,
    box-shadow 0.2s ease;
}

.hcl-icon-btn svg {
  font-size: 18px;
}

.hcl-icon-btn:hover {
  background: var(--primary-color);
  color: var(--text-color-light);
  transform: translateY(-1px);
  box-shadow: 0 0 10px rgba(27, 226, 154, 0.45);
}

.hcl-input-error {
  margin-top: 4px;
  font-size: 0.75rem;
  color: #f97316;
}
